<%- include ('../partials/header.ejs') %>

   
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Todas as Séries Cadastradas <a href="/series/nova" class="btn btn-info">Nova Série</a></p>
            <table class="table table-hover">
              <% series.forEach (serie => { %>
                <tr>
                  <td>
                   <a href="/series/info/<%=serie._id%>"><%= serie.name %></a>
                  </td>
                  <td>
                    <span class="badge badge-secondary">
                     <%= labels.filter( label => label.id === serie.status)[0].name %>
                    </lable>
                  </td>
                  <td>
                    <a href="/series/editar/<%= serie._id%>">Editar</a> | 
                    <a href="/series/exluir/<%= serie._id%>">Excluir</a>
                  </td>
                  </tr>
              <% }) %>
              </table>
          </div>
        </div>
      </div>
    </section>

    <%- include ('../partials/footer.ejs') %>
